body {
background-color: #BBDFF2;
}

button{
background-color: white;

}

/* .low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
} */

.Display {
 background-color: black;
 color: white;
 width: 25%;
 margin: auto;
 text-align: center;
}

.Header {
 text-align: center;

}

.Control_Panel {
 text-align: center;
 margin: auto;
 width: 50%;
 height: 50%;


}
